body {
    margin: 0;
    background-color: #222222;
    color: white;
    font-family: sans-serif;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    margin: 1em;
    border: 1px solid #ffffff;
}

img {
    padding-top: 1em;
    width: 20vw;
}

p {
    text-align: center;
}
